<% provide(:title, "Top") %>

<body>
  <div class="container">
    
    <div class="row">
      
    <div class="col-md-7">
      <div class="center jumbotron" id="top-main">
        <h1 id="top-main-title">TaskApp</h1>
        <p>TaskAppは簡易ToDoツールです</p>
        <p>↓↓初めてのご利用↓↓</p>
        <% if current_user %>
        <%= link_to "アカウント作成", signup_path, class: "btn btn-lg btn-success disabled" %>
        <% else %>
        <%= link_to "アカウント作成", signup_path, class: "btn-lg btn-success" %>
        <% end %>
      </div>
    </div>
    
    <div class="col-md-4">
      <h1>ログイン</h1>
      <%= form_with(scope: :session, url: login_path, local: true) do |f| %>

        <%= f.label :email, class: "label-login" %>
        <%= f.email_field :email, class: 'form-control' %>

        <%= f.label :password, class: "label-login" %>
        <%= f.password_field :password, class: 'form-control' %>
      
        <%= f.label :remember_me, class: "checkbox inline checkbox-login", for: "remember-me" do %>
         <%= f.check_box :remember_me, id: "remember-me" %>
         <span>ログイン情報を記憶する</span>
        <% end %>
        <% if current_user %>
        <%= f.submit "ログイン状態です。", class: "btn btn-primary btn-block btn-login disabled" %>
        <% else %>
        <%= f.submit "Log In", class: "btn btn-primary btn-block btn-login" %>
        <% end %>
　　　<% end %>
    </div>
   </div>
  </div>
</body>